.etc-login{
	height: 100%;
	background: url(../../images/login/china_market.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/login/china_market.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/login/china_market.jpg', sizingMethod='scale')";
}
.etc-login-header{
	margin: 0 50px;
	height: 79px;
	color: #fff;
	background: url(../../images/login/center_logo_china.png) no-repeat 0 50%;
	text-indent: -1000px;
	border-bottom: 1px solid #eee;
}