<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Member List
##                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">member list</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
##                            <h3 class="box-title" style="float: left;">Hover Data Table</h3>
                            <button class="btn btn-block btn-default btn-xs"
                                    style="float: left;width: 60px" id="new-btn">+ New</button>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>English Name</th>
                                    <th>Gender</th>
                                    <th>Department</th>
                                    <th>Title</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                    #foreach($!item in $!page.datas)
                                        <tr>
                                            <td>$!item.name</td>
                                            <td>$!item.englishName</td>
                                            <td>
                                            #if($!item.gender==1)
                                                Male
                                            #elseif($!item.gender==0)
                                                Female
                                            #else
                                            #end
                                            </td>
                                            <td>测试部门</td>
                                            <td>$!item.title</td>
                                            <td><a href="#">操作</a></td>
                                        </tr>
                                    #end

                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-xs-5">
                    <div class="dataTables_info" id="example1_info" role="status"
                         aria-live="polite">Showing $!{page.minPageNum} to $!{page.maxPageNum} of $!{page.totalPage} entries
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination"  style="margin-top: 0px;">
                            <li><a href="javascript:;" onclick="pageRequest($!{page.prePage})">&lt;</a></li>
                            #if($!{page})
                                #foreach($!pageNum in [$!{page.minPageNum}..$!{page.maxPageNum}])
                                    #if($!pageNum==$!page.pageNum)
                                        <li><a href="javascript:;" onclick="pageRequest($!{pageNum})" style="background:#ccc" id="pageselectclass">$pageNum</a></li>
                                    #else
                                        <li><a href="javascript:;" onclick="pageRequest($!{pageNum})">$pageNum</a></li>
                                    #end
                                #end
                            #end
                            <li><a href="javascript:;" onclick="pageRequest($!{page.nextPage})">&gt;</a></li>
                        </ul>
                    </div>
##                        <div class="footerA clear height55">
##                            <div class="pull-left pageheight35">显示$!{page.minPageNum}～$!{page.maxPageNum}，共$!{page.totalPage}</div>
##                            <ul class="pagination ulMargin pagecss pull-left pagingList">
##                                <li><a href="javascript:;" onclick="pageRequest($!{page.prePage})">&lt;</a></li>
##                                #if($!{page})
##                                    #foreach($!pageNum in [$!{page.minPageNum}..$!{page.maxPageNum}])
##                                        #if($!pageNum==$!page.pageNum)
##                                            <li><a href="javascript:;" onclick="pageRequest($!{pageNum})" style="background:#ccc" id="pageselectclass">$pageNum</a></li>
##                                        #else
##                                            <li><a href="javascript:;" onclick="pageRequest($!{pageNum})">$pageNum</a></li>
##                                        #end
##                                    #end
##                                #end
##                                <li><a href="javascript:;" onclick="pageRequest($!{page.nextPage})">&gt;</a></li>
##                            </ul>
##                        </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
##<script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#new-btn").click(function(){
            window.location.href="member?action=newMemberPage" ;
        }) ;
    });

    function pageRequest (pageNum){
        window.location.href="/member?action=memberList&pageNum=" + pageNum ;
    }

</script>

