<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Advanced Form Elements
            <small>Preview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Member List</a></li>
            <li class="active">New Member</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">New Member</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <form action="" method="post" id="add-member-form">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>姓名</label>
                                <input class="form-control" type="text" name="name" placeholder="your Chinese name">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>英文名</label>
                                <input class="form-control" type="text" name="englishName" placeholder="your English name">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>性别/GENDER</label>
                                <div>
                                    男<input type="radio" name="gender" value="1" class="minimal" checked />
                                    女<input type="radio" name="gender" value="0" class="minimal" />
                                </div>
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>邮箱</label>
                                <input class="form-control" type="text" exist-flag="" name="email" placeholder="E-Mail">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>毕业学校</label>
                                <input class="form-control" type="text" name="university" placeholder="university">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>专业</label>
                                <input class="form-control" type="text" name="major" placeholder="major">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>国籍</label>
                                <input class="form-control" type="text" name="nationality" placeholder="nationality">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>籍贯</label>
                                <input class="form-control" type="text" name="nativePlace" placeholder="native place">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>现居住国家</label>
                                <input class="form-control" type="text" name="residenceCountry" placeholder="residence country">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>现居住城市</label>
                                <input class="form-control" type="text" name="residenceCity" placeholder="residence city">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>手机</label>
                                <input class="form-control" type="text" name="phone" placeholder="phone number">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>QQ</label>
                                <input class="form-control" type="text" name="qq" placeholder="QQ number">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>skype</label>
                                <input class="form-control" type="text" name="skype" placeholder="skype">
                            </div><!-- /.form-group -->
                        </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>加入时间</label>
##                            <input class="form-control" type="text" name="joinTime" placeholder="joinTime">
                            <input id="join_time" class="form-control pull-right active" name="join_time"
                                   placeholder="join time" type="text">
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>职务</label>
                            <input class="form-control" type="text" name="title" placeholder="title">
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>职级</label>
                            <input class="form-control" type="text" name="jobGrade" placeholder="job grade">
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>备注</label>
                                <textarea class="form-control" rows="3" name="remarks" placeholder="Enter ..."></textarea>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-md-6">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Textarea</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div><!-- /.col -->


                    </div><!-- /.row -->
                </div><!-- /.box-body -->
                </form>
                <div class="box-footer">

                    <div class="col-md-8">
                        带*为必填项.
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-info" id="submit-btn">提交</button>
                    </div>

                </div>
            </div><!-- /.box -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- /.提示弹框 -->
<div class="example-modal">
    <div class="modal remind-modal" >
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top: 20%;">
                <div class="modal-header">
                    <button class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加会员</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left close-btn" type="button" >Close</button>
##                    <button class="btn btn-primary" type="button">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script>

    /**提交表单按钮*/
    $("#submit-btn").click(function() {

        if ($("input[name=name]").val() == "" ) {
            show_remind_modal("会员姓名为必填项！") ;
            return false ;
        }
        if ($("input[name=join_time]").val() == "" ) {
            show_remind_modal("加入时间为必填项！") ;
            return false ;
        }
        if ($("input[name=title]").val() == "" ) {
            show_remind_modal("职务为必填项！") ;
            return false ;
        }
        if ($("input[name=jobGrade]").val() == "" ) {
            show_remind_modal("职级为必填项！") ;
            return false ;
        }
        if ($("input[name=email]").val() == "" ) {
            show_remind_modal("邮箱为必填项！") ;
            return false ;
        }
        if ($("input[name=email]").attr("exist-flag") != "n" ) {
            show_remind_modal("邮箱已被注册") ;
            return false ;
        }

        jQuery("#add-member-form").ajaxSubmit({
            type: 'post',
            url: "/member?action=newMember" ,
            dataType:"json",
            success: function(data){
                if (data.code == 1) {
                    show_remind_modal("创建成功！") ;
                }else {
                    show_remind_modal("创建失败！") ;
                }
            }
        });
    }) ;

    $(function(){
        //Date range picker
        $('#join_time').datepicker({
            format: 'yyyy-mm-dd',
            language: 'cn'
        });

        $(".close-btn , .close ").click(function() {
            close_remind_modal() ;
        }) ;

        $("input[name=email]").blur(function() {

            var email = $("input[name=email]").val() ;

            if (email == "") {
                return false ;
            }
            $.ajax({
                type : "post",
                url : "member?action=checkEmail",
                data : {email : email} ,
                dataType : "json",
                success:function(data){
                    if (data.exist == "y") {
                        show_remind_modal("该邮箱已经被注册！") ;
                        $("input[name=email]").attr("exist-flag" , "y") ;
                    } else {
                        $("input[name=email]").attr("exist-flag" , "n") ;
                    }
                }
            });
        });
    });

    /**显示通知提示框*/
    function show_remind_modal(content){
        $('.remind-modal .modal-body p').html(content) ;
        $('.remind-modal').show() ;
    }

    /**关闭通知提示框*/
    function close_remind_modal(){
        $('.remind-modal').hide() ;
    }


</script>

