<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Mailbox
            <small>13 new messages</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Task</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="#" id="btn_new_task" class="btn btn-primary btn-block margin-bottom">New Task</a>
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Folders</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active" id="li_task_list"><a href="#"><i class="fa fa-inbox"></i> Task List <span class="label label-primary pull-right">12</span></a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> 待我解决的任务</a></li>
                            <li><a href="#"><i class="fa fa-file-text-o"></i> 我完成的任务</a></li>
                            <li><a href="#"><i class="fa fa-filter"></i> 待我验证的任务 <span class="label label-warning pull-right">65</span></a></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> 分析报告</a></li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Labels</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9" id="template_container">

            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- /.提示弹框 -->
<div class="example-modal">
    <div class="modal infor-modal" >
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top: 20%;">
                <div class="modal-header">
                    <button class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Action</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left close-btn" type="button" >Close</button>
                ##                    <button class="btn btn-primary" type="button">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!-- 渲染模板js -->
<script src="/static/js/template/template-native.js" type="text/javascript"></script>

<!-- 新建任务 -->
<script id="template_new_task" type="text/html">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">New Task</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
##            <div class="form-group">
##                <input class="form-control" placeholder="To:" id="">
##            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Subject:" id="input_subject">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="开始时间" id="begin_time" style="width:230px; float: left;margin-right: 11px;">
                <input class="form-control" placeholder="结束时间" id="end_time" style="width:230px;float: left;margin-right: 11px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-default task-level">Middle</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="ul_level">
                        <li data-value="High"><a href="#">High</a></li>
                        <li data-value="Middle"><a href="#">Middle</a></li>
                        <li data-value="Low"><a href="#">Low</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <ul class="f-list">
                    <li><strong>孙诗博</strong><i>x</i></li>
                    <li><strong>金琦斌</strong><i>x</i></li>
                </ul>
                <br/>
            </div>
            <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">
                      <h1><u>Heading Of Message</u></h1>
                      <h4>Subheading</h4>
                      <p>请输入一些描述......</p>
                      <ul>
                          <li>List item one</li>
                          <li>List item two</li>
                          <li>List item three</li>
                          <li>List item four</li>
                      </ul>
                      <p>Thank you,</p>
                      <p>John Doe</p>
                    </textarea>
            </div>
            <div class="form-group">
                <div class="btn btn-default btn-file">
                    <i class="fa fa-paperclip"></i> Attachment
                    <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 32MB</p>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="pull-right">
                <button class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                <button type="submit" id="btn-submit-task" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
            </div>
            <button class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
        </div><!-- /.box-footer -->
    </div><!-- /. box -->
</script>
<!-- 任务列表模板 -->
<script id="template_task_list" type="text/html">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Task List</h3>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" placeholder="Search Mail">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body no-padding">

            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>
                    <%for(i = 0; i < datas.length; i ++) {%>
                        <tr html-content="<%=datas[i].content%>" item-task-id="<%=datas[i].id%>" planning-horizon="<%=datas[i].beginTime%>   To   <%=datas[i].endTime%>">
                            <td class="mailbox-star" style="padding-left: 20px;"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="task-id">【<%=datas[i].id%>】</td>
                            <td class="task-level"><%=datas[i].level%></td>
                            <td class=""><b class="task_subject" style="cursor:pointer"><%=datas[i].subject%></b> - Trying to find a solution to this problem...</td>
                            <td class=""></td>
                            <td class=""><%=datas[i].createTime%></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.mail-box-messages -->
        </div><!-- /.box-body -->
        <div class="box-footer no-padding">
            <div class="mailbox-controls">
                <div class="pull-right">
                    1-50/200
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                    </div><!-- /.btn-group -->
                </div><!-- /.pull-right -->
            </div>
        </div>
    </div>

</script>

<!-- 读任务模板 -->
<script id="template_read_task" type="text/html">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Read Task</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-read-info">
                <input type="hidden" id="hid_task_id" value="<%=taskId%>"/>
                <h3></h3>
                <h5>Planning Horizon: <%=planning_horizon%> <span class="mailbox-read-time pull-right">15 Feb. 2015 11:03 PM</span></h5>
            </div><!-- /.mailbox-read-info -->
            <div class="mailbox-read-message">

            </div><!-- /.mailbox-read-message -->
        </div><!-- /.box-body -->
        <div class="box-footer">
            <ul class="mailbox-attachments clearfix">
                <li>
                    <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                    <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>
                    <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> App Description.docx</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                    </div>
                </li>

            </ul>
        </div><!-- /.box-footer -->
        <div class="box-footer">
            <div class="pull-right">
##                <button class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                <button class="btn btn-default" onclick="join_task()"><i class="fa fa-share"></i> Join</button>
            </div>
            <button class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
            <button class="btn btn-default"><i class="fa fa-print"></i> Print</button>
        </div><!-- /.box-footer -->
    </div><!-- /. box -->
</script>

<!-- Page Script -->
<script>

    $(function(){
        // 模拟点击事件
        $("#li_task_list").trigger("click");
    });

    /**关闭弹框方法*/
    $(".close-btn , .close ").click(function(){
        close_remind_modal() ;
    }) ;

    $(".fa-star, .fa-star-o").click(function(){
        if( $(this).hasClass("fa-star")) {
            $(this).removeClass("fa-star") ;
            $(this).addClass("fa-star-o") ;
        }else {
            $(this).removeClass("fa-star-o") ;
            $(this).addClass("fa-star") ;
        }
    });

    $(".nav-stacked, li").click(function(){
        $(this).addClass("active") ;
    });

    /**点击任务列表*/
    $("#li_task_list").click(function() {
        $.ajax({
            type : "post",
            url : "task?action=queryTaskList",
            data : {} ,
            dataType : "json",
            success:function(data){
                if (data.code == 1) {
                    var html = template('template_task_list', data.data);
                    $("#template_container").html(html) ;
                }else {
                    alert("请求失败!") ;
                }
                init_task_list () ;
            }
        });

    }) ;

    /**新建任务*/
    $("#btn_new_task").click(function() {
        var html = template('template_new_task', {param:""});
        $("#template_container").html(html) ;
        init_new_task() ;
    }) ;

    /**提交任务*/
    function submit_task(){
        var subject = $("#input_subject").val() ;
        var content = $("#compose-textarea").val() ;
        var begin_time = $("#begin_time").val() ;
        var end_time = $("#end_time").val() ;
        var level = $(".task-level").html();

        $.ajax({
            type : "post",
            url : "task?action=addTask",
            data : {subject : subject , content : content ,
                begin_time : begin_time , end_time : end_time , level : level} ,
            dataType : "json",
            success:function(data){
                alert(data.msg) ;
            }
        });

    }

    function init_new_task () {
        $("#compose-textarea").wysihtml5();
        //绑定提交按钮事件
        $("#btn-submit-task").click(submit_task) ;
        $("#ul_level li").click(function(){
            var val = $(this).attr("data-value") ;
            $(".task-level").html(val) ;
        }) ;
        //Date range picker
        $('#begin_time,#end_time').datepicker({
            format: 'yyyy-mm-dd',
            language: 'cn'
        });
    }

    /**初始化任务列表*/
    function init_task_list () {

        /**读取任务*/
        $(".task_subject").click(function () {
            var content = $(this).parents("tr").attr("html-content") ;
            var planning_horizon = $(this).parents("tr").attr("planning-horizon") ;
            var taskId = $(this).parents("tr").attr("item-task-id") ;
            var subject = $(this).parents("tr").find(".task_subject").html() ;
            var level = $(this).parents("tr").find(".task-level").html() ;
            var html = template('template_read_task', {planning_horizon:planning_horizon ,
                taskId:taskId});

            $("#template_container").html(html) ;
            $(".mailbox-read-info h3").html("【"+taskId+"】——Subject " + subject + "(" + level + ")") ;
            $(".mailbox-read-message").html(content) ;
            $("#task_id").val(taskId) ;

        }) ;
    }

    /**关闭通知提示框*/
    function close_remind_modal(){
        $('.modal').hide() ;
    }

    function join_task() {
        var taskId = $("#hid_task_id").val() ;
        $.ajax({
            type : "post",
            url : "task?action=joinTask",
            data : {taskId : taskId } ,
            dataType : "json",
            success:function(data){
                alert(data.code) ;
            }
        });
    }

</script>