<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyvs.wp.dao.QuitDao">



    <select id="selectQuitByMemberId" resultType="com.wyvs.wp.entity.QuitDo"
            parameterType="int">
        SELECT * FROM pms_member_quit
        WHERE member_id = #{memberId} and status != "reject"
    </select>

    <select id="getItemById" resultType="com.wyvs.wp.entity.QuitDo"
            parameterType="int">
        SELECT * FROM pms_member_quit WHERE id = #{id}
    </select>


    <insert id="insert" parameterType="com.wyvs.wp.entity.QuitDo"
            useGeneratedKeys="true" keyProperty="id">

        <![CDATA[
           INSERT INTO pms_member_quit(
                member_id, member_name,english_name, department, job_grade,
                create_time, last_date, join_date, description, lister_id,
                lister_name, status , serial_number
                )
            VALUES(
                #{memberId},#{memberName}, #{englishName},
                #{department},#{jobGrade},NOW(), #{lastDate},#{joinDate},
                #{description},#{listerId},#{listerName},#{status} ,#{serialNumber}
            )
        ]]>
    </insert>

    <update id="updateMember" parameterType="com.wyvs.wp.entity.MemberDo">

        UPDATE pms_member_info SET
        <if test="enabledState != null">
            enabled_state = #{enabledState} ,
        </if>
        id = #{id}
        WHERE id = #{id}
    </update>


</mapper>