<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyvs.wp.dao.RoleDao">


    <!--<insert id="insert" parameterType="RoleDO"-->
            <!--useGeneratedKeys="true" keyProperty="id">-->

        <!--insert into pms_role_info (-->
            <!--name,level,description,creator,create_time-->
        <!--)-->
        <!--values-->
        <!--(-->
          <!--#{name,jdbcType=VARCHAR},#{level,jdbcType=INTEGER},#{description,jdbcType=VARCHAR},-->
          <!--#{creator,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP}-->
        <!--)-->

    <!--</insert>-->

    <select id="selectById" resultType="RoleDO" >
        select
        id,name,level,description,creator,create_time,permission_ids
        from pms_role where id = #{roleId}
    </select>

    <select id="selectRoleList" resultType="RoleDO" >
        select
        id,name,level,description,creator,create_time,permission_ids
        from pms_role
    </select>

    <update id="update" parameterType="com.wyvs.wp.entity.RoleDo">

        UPDATE pms_role SET
        <if test="permissionIds != null">
            permission_ids = #{permissionIds} ,
        </if>
        id = #{id}
        WHERE id = #{id}
    </update>


</mapper>