<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyvs.wp.dao.TaskUserDao">

    <insert id="insert" parameterType="com.wyvs.wp.entity.TaskUserDo" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
           INSERT INTO pms_task_user (
               task_id,member_id,member_name,create_time
               )
            VALUES(
                #{taskId}, #{memberId},#{memberName},NOW()
            )
        ]]>
    </insert>

    <select id="selectListByTaskId" resultType="com.wyvs.wp.entity.TaskUserDo">
        SELECT id,task_id,member_id,member_name,create_time
        FROM pms_task_user WHERE task_id = #{taskId}
    </select>

</mapper>