<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyvs.wp.dao.TaskDao">


    <select id="getListPage" resultType="com.wyvs.wp.entity.TaskDo">
       SELECT t.id,t.subject,t.create_time,t.begin_time ,t.end_time,
        t.content,t.create_user,t.status,t.level,t.finish_time ,GROUP_CONCAT( tu.member_id SEPARATOR ","  ) memberIds
            FROM pms_task t
            LEFT JOIN	pms_task_user tu on tu.task_id = t.id
            WHERE 1=1
        <choose>
            <when test="search_type == 'ALL'">  </when>
            <when test="search_type == 'MY_WORKING_TASK'">
                AND tu.member_id = #{loginUser.id}
                AND t.status != "Finish" AND  t.status != "Close"
            </when>
            <when test="search_type == 'MY_FINISH_TASK'">
                AND tu.member_id = #{loginUser.id}
                AND (t.status = "Finish" OR  t.status = "Close")
            </when>
            <when test="search_type == 'NEED_CHECK_TASK'">
                AND t.create_user = #{loginUser.id} AND t.status = "Finish"
            </when>
            <otherwise>  </otherwise>
        </choose>
        <if test="search != null  and search != '' ">
            AND (t.id = #{search}  OR t.subject like "%"#{search}"%")
        </if>
        GROUP BY t.id
        ORDER BY id DESC
        LIMIT #{pageOffset}, #{pageSize}
    </select>

    <select id="getListCount" resultType="int">
        SELECT COUNT(tmp.id) FROM (
            SELECT t.id
            FROM pms_task t
            LEFT JOIN	pms_task_user tu on tu.task_id = t.id
            WHERE 1=1
            <choose>
                <when test="search_type == 'ALL'">  </when>
                <when test="search_type == 'MY_WORKING_TASK'">
                    AND tu.member_id = #{loginUser.id}
                    AND t.status != "Finish" AND  t.status != "Close"
                </when>
                <when test="search_type == 'MY_FINISH_TASK'">
                    AND tu.member_id = #{loginUser.id}
                    AND (t.status = "Finish" OR  t.status = "Close")
                </when>
                <when test="search_type == 'NEED_CHECK_TASK'">
                    AND t.create_user = #{loginUser.id} AND t.status = "Finish"
                </when>
                <otherwise>  </otherwise>
            </choose>
            <if test="search != null  and search != '' ">
                AND (t.id = #{search}  OR t.subject like "%"#{search}"%")
            </if>
            GROUP BY t.id
        ) tmp
    </select>

    <select id="selectById" resultType="com.wyvs.wp.entity.TaskDo">
        SELECT id,subject,create_time,begin_time,end_time,content,create_user,status,level,finish_time
        FROM pms_task WHERE id = #{taskId}
    </select>

    <insert id="insert" parameterType="com.wyvs.wp.entity.TaskDo" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
           INSERT INTO pms_task (
               subject,create_time,begin_time ,end_time,content,create_user,status,level,finish_time)
            VALUES(
                #{subject}, NOW() ,#{beginTime},#{endTime}, #{content},
                #{createUser},#{status},#{level}, #{finishTime}
            )
        ]]>
    </insert>

    <update id="updateTask" parameterType="com.wyvs.wp.entity.TaskDo">

        UPDATE pms_task SET
        <if test="status != null and status != ''">
            status = #{status} ,
        </if>
        id = #{id}
        WHERE id = #{id}
    </update>

    <select id="selectTaskNumByUserAndStatus" resultType="int">
        SELECT
	      count(tmp.id)
        FROM
        (
            SELECT
                pt.id
            FROM
                pms_task pt
            LEFT JOIN pms_task_user ptu ON ptu.task_id = pt.id
            WHERE
                ptu.member_id = #{memberId}
            AND pt. STATUS = #{status}
            GROUP BY
                pt.id
        ) tmp

    </select>


</mapper>